---

---

<div
  class="dark text-muted text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-2 py-1 relative text-ellipsis whitespace-nowrap"
>
  <span
    class="dark:bg-slate-700 bg-white/40 dark:text-slate-300 font-semibold px-1 py-0.1 text-[0.6rem] mr-2 rtl:mr-0 rtl:ml-0.5 inline-block"
    >Notice</span
  >
  <a class="text-xs text-muted hover:underline dark:text-slate-400 font-medium"
    >My blog is under construction 🥲 — Stay connected to subscribe the posts! </a
  >
</div>