---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

import profileImage from '~/assets/images/profile.png'

const metadata = {
  title: 'Personal Homepage Demo',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero2
    id="hero"
    title="Sarah Johnson"
    tagline="Personal Web Demo"
    image={{
      src: profileImage,
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="subtitle">
      I'm a Graphic Designer passionate about crafting visual stories. <br /> With 5 years of experience and a degree from
      New York University's School of Design. I infuse vitality into brands and designs, transforming concepts into captivating
      realities.
    </Fragment>
  </Hero2>

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-neutral-100 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
